/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}
body{
    background: #f4f3ef!important;
}

aside{
    background: linear-gradient(to bottom, rgb(165, 195, 241) 0%, rgb(255, 255, 255) 80%)!important;
}

.hamburger-icon {
  position: relative;
  left: 10px;
  float: left;
}

.hamburger-icon i {
  margin-top: 4px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  font-size: 1.2rem;
  color: #98a4c7;
  border: 1px dotted #98a4c7;
  cursor: pointer;
}

.sidebar {
  height: 100%;
  width: 260px;
  position: absolute;
  transition: left 0.3s ease;
  left: -260px;
  top: 0;
  z-index: 111;
  overflow: auto;
  color: rgba(61, 68, 101, .9)
}

.sidebar>div {
  border-bottom: 1px solid #80808045;
}

.sidebar>div:last-child {
  border-bottom: none;
}

.sidebar .sidebar-profile .user-picture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.sidebar .sidebar-profile .user-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sidebar .sidebar-profile .profile-details .name {
  font-size: 0.9rem;
  font-weight: 800;
}

.sidebar .sidebar-profile .profile-details .role {
  font-size: 0.7rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.sidebar .sidebar-search {
  display: none;
}

.sidebar .sidebar-menu>div {
  padding: 0 1.5rem;
}

.sidebar .sidebar-menu .menu-header {
  padding: 0 1.5rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
}

.sidebar .sidebar-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar .sidebar-menu ul li {
  display: block;
}

.sidebar .sidebar-menu ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  line-height: 45px;
  padding: 0 1.5rem;
  font-size: 0.8rem;
  letter-spacing: 0px;
 

}

.active span {
    transform: scale(1.1);
}

.sidebar .sidebar-menu ul li a i {
  font-size: 1rem;
  color:  rgba(61, 68, 101, .9);
}

.sidebar .sidebar-menu ul li a span {
  color: inherit;
  margin-left: 1rem;
  color:  rgba(61, 68, 101, .9);
  font-weight: 500;
  letter-spacing: 1px;
}

.sidebar {
  position: static;
  height: 100%;
}

.icon-style {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  border: 1px solid;
  font-size: .9rem;
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: unset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px transparent;
  outline: 0 none;
}



.card{
    border-radius: 12px!important;
     box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
     background-color: #fff;
     color: #252422;
     margin-bottom: 20px;
     
 }
 
 .card .card-icon i {
     width: 50px;
     height: 50px;
     line-height: 50px;
     text-align: center;
     border-radius: 50%;
     font-size: 3rem;
     color: #98a4c7;
 }
 .card .legend span:first-child {
     width: 10px;
     height: 10px;
 }
 .card .card-title{
     border-bottom: 1px solid #80808033;
     color: #252422;
 }
 h6{
     font-weight: 400;
     color: #464544c7;
 }
 .table-wrap {
     height: 300px;
     overflow-y: auto;
   }
   table thead tr th {
     background-color: #fff;
     position: sticky;
     top: -1px;
   }
   